.equipment {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
}
.equipment_list {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5%;
}

.linkage_partner_list {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}